h1 n34t

h3 architect of your next amazing idea.

p n34t is a remote development firm. We specialize in early stage application prototype and MVP's using a variety of technologies.

h2 work

h4
  a(href="/yeplive-web") Yeplive Web Client
h4
  a(href="/yeplive-api") Yeplive API
h4
  a(href="/yeplive-chat") Yeplive Chat Server
h4
  a(href="/simplyfeedme") SimplyFeed.me

h2 Contact
p If you are interested in working with us please feel free to shoot us an email and we will be prompt to respond.
p 
  a(href="mailto:hey@n34t.com") hey@n34t.com


