img(class="image-header" src="/simplyfeedme.jpg")
h1 Simply Feed Me
h3 Overview
p Custom Ruby on Rails application built for food ordering platform
p Admin panel set up for easy configuration of meal items
p Email notifications set up  
p Custom + Intuitive ordering process


h3 Technologies
ul
  li Ruby on Rails
  li Semantic.ui Framework
  li Stripe Payment Processer

a(href="http://simplyfeed.me") Website