h1 Yeplive Web Client

h2 Summary
p Built a custom frontend for yeplive

.col-sm-4
  h3 Technologies
  p Backbone.js
  p Google Maps SDK
  p Google Analytics
  p HDFVR LiveStreaming Client
  p Node.js
